---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Analytics from "@vercel/analytics/astro";

import { SITE } from "@consts";

type Props = {
  title: string;
  description: string;
  image?: string;
  additionalMeta?: Record<string, string>;
};

const { title, description, image, additionalMeta } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={`${title} | ${SITE.NAME}`}
      description={description}
      image={image}
      additionalMeta={additionalMeta}
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
    <Analytics />
  </body>
</html>
